@font-face {
  font-family: "Outfit";
  src: url("https://fonts.google.com/specimen/Outfit") format("truetype");
  font-weight: 100 900;
  font-display: swap;
}

:root {
  /* colors */
  --clr-state-900: #1f314f;
  --clr-state-500: #68778d;
  --clr-state-300: #d5e1ef;
  --clr-white: #ffffff;
  /* fonts */
  --ff--outfit: "Outfit", system-ui, sans-serif;
  /* font sizes */
  --fs-22px: 1.375rem;
  --fs-15px: 0.9375rem;
  /* font weight */
  --fw--bold: 700;
  --fw--regular: 500;
  /*spacing*/
  --sp--40px: 2.5rem;
  --sp-24px: 1.5rem;
  --sp-16px: 1rem;
}
/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
* {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
    scroll-behavior: smooth;
  }
}

body {
  /* 4. Add accessible line-height */
  line-height: 1.5;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

/* 7. Inherit fonts for form controls */
input,
button,
textarea,
select {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}
